---
title: 标签
layout: page
---

<div>
<ul class="tag-box inline">
{% for tag in site.tags %}
<li><a href="#{{ tag[0] }}" title="{{ tag[0] }} rel="{{ tag[1].size }}">{{ tag[0] }}<span>{{ tag[1].size }}</span></a></li>
{% endfor %}
<ul>
</div>

<div class="article-list">
{% for tag in site.tags %}
  <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
  <ul>
{% for post in tag[1] %}
  <li>
  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
{% endfor %}
<ul>
{% endfor %}
</div>

